.dart_tool/
build/
.idea/
*.iml
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.packages

android/.gradle/
android/local.properties

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/